<!DOCTYPE html>
<html ng-app="uiApp">
<head>
    <title><%= typeof title == 'undefined' ? 'Nucleus' : title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Grab the common JS libs -->
    <%- partial( '../partials/jsdeps' ) %>

    <!-- Grab the common CSS  -->
    <%- partial( '../partials/cssdeps' ) %>

    <!-- Import your app, controllers, etc. here. Path needs to be out of /assets/js/views/  -->
    <!-- This means a src like src="/js/views/ui". Bower components are pulled from /bower_components/... -->
    <script src="/js/nucleusService/nucleusService.js"></script>
    <script src="/uiapp/app/uiApp.module.js"></script>
    <script src="/uiapp/app/uiApp.routes.js"></script>
    <script src="/uiapp/app/components/directives/navbar/navbar.directive.js"></script>
    <script src="/uiapp/app/shared/uibHelperService/uibHelperService.js"></script>

    <script src="/uiapp/app/components/admin/admin.controller.js"></script>
    <script src="/uiapp/app/components/user/user.controller.js"></script>
    <script src="/uiapp/app/components/directives/userdata/userdata.directive.js"></script>


</head>

<body>

<%- partial( '../partials/navbar' ) %>

<!-- BODY IMPORT -->

<%- body %>

</body>
</html>